backend/__pycache__
backend/*/__pycache__
backend/*/*/__pycache__
backend/*/*/*/__pycache__
backend/*/*/*/*/__pycache__
backend/*/*/*/*/*/__pycache__
backend/*/*/*/*/*/*/__pycache__

backend/apps/*/migrations/0*